<p>It's time to play</p>
<p><%= link_to image_tag("cheeseorfont.png", :alt=>"Cheese or Font"), play_path %></p>
<p class="other">
<%= link_to "Play", play_path %><br/>
You'll get a random name each time.<br/>You can keep going as long as you like.
</p>


<div id="other">
<p><a href="http://tonygambone.org">Tony Gambone</a> made this.</p>
<p>The <a href="http://twitter.com/dickchiclets/statuses/3738658555">idea</a> came from <a href="http://twitter.com/dickchiclets">@dickchiclets</a>.</p>
<p>Follow <a href="http://twitter.com/cheeseorfont">@cheeseorfont</a> on twitter.</p>
<p><%= link_to "stats", stats_path  %></p>
</div>